@media screen and (max-width: 768px) {

  .main-menu {
    gap: 30px;
  }
  
  .status-card {
    width: 100%;
  }

  .status-table th {
    flex: 0 0 30%;
  }

  .status-table td {
    flex: 0 0 70%;
  }

  .action {
    width: 100%;
  }
}