/* Google font Icon */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html {
  font-size: 62.5%;   /* rootのフォントサイズを10pxに変更 */
}

body {
  font-size: 1.6rem;  /* デフォルトのフォントサイズ */
}

* {
  box-sizing: border-box;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: gray;
  opacity: .85;
}

a:hover {
  opacity: 1;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-size: 1.6rem;
  background-color: #fff;
  padding: .6rem;
  border-radius: 9999px;
  opacity: .75;
}

button:hover {
  opacity: 1;
  font-weight: bold;
}

button:active {
  opacity: .7;
}

select {
  font-size: 1.6rem;
  background-color: #fff;
  padding: .4rem;
  opacity: .75;
}

select:hover {
  opacity: 1;
}

.red {
  color: red;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #fff;
  font-size: 1.4rem;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.header-left ul {
  display: flex;
  gap: 16px;
}

.header-title {
  display: flex;
  /* flex-shrink: 0;   ウインドウ幅が狭くなっても要素の幅を固定化させておきた場合に使用する */
}

.main-header {
  background-color: #FFCC99;
  font-size: 1.6rem;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.main-header nav {
  display: flex;
  gap: 3.6rem;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3.6rem;
  align-items: center;
}

.btn.update {
  font-size: 2rem;
  min-width: 80px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: white;
}

.dropdown-toggle {
  position: relative;
}

.main-header .dropdown-icon:after {
  font-family: "Material Icons";
  content: "\e5c5";
  font-size: 2rem;
  position: absolute;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.dropdown-menu li {
  flex: 1;
}

.drop-down-menu li a {
  display: inline-block;
}

.main-header .dropdown-toggle:focus-within .dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.btn {
  padding: 1rem;
}

.geeker-list {
  padding-top: 20px;
}

.geeker-list .dropdown-toggle:focus-within .dropdown-menu {
  display: flex;
  font-size: 1rem;
  gap: 10px;
}

.arena {
  overflow-x: auto;
  margin-top: 20px;
  border-left: none;
  border-right: none;
  box-shadow: 0 4px 6px rgba(0,0,0,.5),
  0 -4px 6px rgba(0,0,0,.5);
}

.arena-floors {
  display: flex;
  gap: 30px;
  text-align: center;
}

.arena-floor {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 140px;
  min-width: 140px;
}

.arena-title {
  color: white;
  background-color: red;
  width: 100%;
}

.arena-icon {
  width: 100px;
  height: 100px;
}

.arena-floor p {
  vertical-align: bottom;
}

.arena-champ-name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
}

.arena-challenger-name {
  display: inline-block;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: bottom;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
  white-space: normal;
}

.main-menu h2 {
  background-color: gray;
  color: white;
  font-size: 2rem;
}

.status-card {
  width: calc(50% - 10px);
  max-width: 100%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.user-icon {
  width: 100px;
  height: 100px;
}

.status-card p {
  white-space: normal;
}

.status-card h3 {
  font-size: 1.8rem;
  color: white;
  background-color: gray;
  white-space: normal;
  overflow-wrap: break-word;
}

.status-table {
  text-align: left;
}

.status-table tbody tr {
  display: flex;
  flex-wrap: wrap;
}

.status-table th {
  flex: 0 0 15%;
  background-color: #9e8b9e;
  color: white;
  padding: .4rem;
}

.status-table td {
  flex: 0 0 35%;
  background-color: #fff;
  padding: .4rem;
}

.status-table th,
.status-table td {
  white-space: normal;
}

.equip-rank-s {
  color: #9932cc;
}

.equip-rank-a {
  color: red;
}

.equip-rank-b {
  color: #df6c00;
}

.status-card footer {
  padding: .4rem;
  text-align: left;
  font-size: 1.5rem;
  color: gray;
}

.action {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
  max-width: 100%;
  min-width: 300px;
}

.action-menus {
  text-align: center;
}

.action-menus h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 30.5px;
}

.action-menus h2:before {
  font-family: "Material Icons";
  content: "\e5df";
  font-size: 3rem;
}

.action-menu-grid-4 {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 20% 30% 20% 30%;
  border-top: .1px solid;
  border-left: .1px solid;
  border-bottom: .1px solid;
}

.action-menu-grid-4 p,
.action-menu-grid-4 a {
  white-space: normal;
}

.action-menu-item {
  border-right: .1px solid;
  border-bottom: .1px solid;
}

.action-menu-label {
  background-color: #9e8b9e;
  color: white;
}

.action-menu-item,
.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.action-btn {
  border: 1px solid;
  opacity: .85;
  cursor: pointer;
  padding: .5rem;
}

.action-btn:active {
  opacity: .8;
}

.nortification-panel {
  background-color: #f8f8ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nortification-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nortification-icon img {
  width: 80px;
  height: 80%;
}

.nortification-panel p {
  white-space: normal;
}

.battle-menus h3 {
  text-align: center;
  color: white;
  background-color: #5d1459;
}

.battle-menu-grid-2 {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 20% 80%;
  gap: 0;
  border-top: .1px solid;
}

.battle-menu-grid-4 {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 20% 30% 20% 30%;
  gap: 0;
  border-top: .1px solid;
}

.battle-menu-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-right: .1px solid;
  border-bottom: .1px solid;
}

.battle-menu-label {
  background-color: #7e7a7e;
  color: white;
  white-space: normal;
}

.battle-menu-label p,
.battle-menu-item p,
.battle-menu-item a,
.battle-menu-item button {
  white-space: normal;
}